# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Build output (if any)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Cache
.cache/

# Temporary files
tmp/
temp/

# TypeScript (if you add later)
*.tsbuildinfo
/src/generated/prisma
